:root{
    --primary-700: #5034C4;
    --primary-500: #795FE6;
    --gray-400: #575170;
    --gray-300: #847DA1;
    --gray-200: #EAE5FF;
    --gray-100: #F7F5FF;
    --gray-50: #FFF;

    --main-font: 'DM Sans'
}